.aboutContainer{
    width: 100%;
    height: 450px;
    overflow: auto;
    

}
.aboutTop{
    text-align: center;
}
.topText{
    margin-top: 30px;
}

.aboutmiddle{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.middleLeft,.middleRight{
    height: 330px;
    margin-top: 8px;
    width: 50%;
   
    border-radius: 10px;
   

}
.middleLeft{
    margin-right: 50px;
}
.setion1Headline{
    margin: 5PX 15PX;
}
.section2Para{
    padding: 10px;
    margin: 10px 10px;
}
.section3{
    margin: 15px 10px;
    padding: 4px;
}
.section3Items{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
#Button:hover{
  
  color: white;
}
